*.vsidx
*.lock
*.db
*.ipch
*.obj
*.suo
*.tlog
*.db-shm
*.db-wal
*.opendb
*.bin
*.bin
*.vcxproj
*.filters
*.sarif
*.xml
OpenGL_Game/OpenGL_Game/x64/Debug/CodeAnalysisResultManifest.txt
OpenGL_Game/OpenGL_Game/x64/Debug/OpenGL_Game.Build.CppClean.log
*.log
*.ilk
*.idb
*.pdb
*.exe
*.bin
OpenGL_Game/.vs/OpenGL_Game/v17/fileList.bin
OpenGL_Game/OpenGL_Game/OpenGL_Game.aps
*.vcxproj
*.filters
*.exe
OpenGL_Game/OpenGL_Game/x64/Debug/OpenGL_Game.Build.CppClean.log
OpenGL_Game/OpenGL_Game/x64/Debug/OpenGL_Game.ilk
OpenGL_Game/OpenGL_Game/x64/Debug/OpenGL_Game.log
OpenGL_Game/OpenGL_Game/x64/Debug/vc143.idb
OpenGL_Game/OpenGL_Game/x64/Debug/vc143.pdb
OpenGL_Game/x64/Debug/OpenGL_Game.exe
OpenGL_Game/x64/Debug/OpenGL_Game.pdb
*.bin
*.vcxproj
